* {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top:45px;
  margin-bottom:45px;
  font-family: Arial;
  font-weight: bold;
}


.col {
  margin: 20px;
  border: 2px solid black;
  width: calc(33.3333% - 40px);
  height:200px;
  float: left;
  overflow: hidden;
  background: grey;
}

.food{
  float:right;
  border: 2px solid black;
  width: 33.3333%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -2px;
  margin-right: -2px;
  font-family: Arial;
  text-style: bord;
  text-align: center;
  font-weight: bold;
}

.chicken {
  background: pink;
}

.Beef{
  background: #ab1616;
  color: white;
}

.Sushi{
  background: #ffe781;
}

@media screen and (min-width: 768px) and (max-width:991px){
  .md {
    width: calc(50% - 40px);
  }
  .md2 {
    width: calc(100% - 40px);
  }
  
}

@media screen and (max-width:767px){
  .sm {
    width: calc(100% - 40px);
  }
}

div>p {
  clear:both;
  padding: 1em;
  font-family: Arial;
  font-weight: bold;
}
